@import "compass";

.form-post {
  .form-group {
    $width: 120px;
    > label {
      width: $width;
      text-align: right;
    }
    .keyword-container {
      margin-left: $width+30px;
      margin-top: 15px;
      .keyword {
        .text {
          margin-right: 15px;
        }
        .glyphicon {
          cursor: pointer;
          color: #aaa;
        }
        margin-bottom: 15px;
        display: inline-block;
        margin-right: 15px;
        border: 1px solid #ccc;
        padding: 5px 10px;
      }
    }
    .industry-container {
      $height: 240px;
      min-width: 400px;
      margin-left: $width+30px;
      .panel {
        height: $height;
      }
      .tree, .industry-selected-container {
        max-height: $height - 60;
        overflow-y: auto;
      }
      .industry-selected {
        margin-bottom: 5px;
        color: #888;
        .glyphicon {
          cursor: pointer;
          float: right;
        }
      }
      .left-section {
        .text {
          cursor: pointer;
          display: inline-block;
          width: 100%;
          margin-bottom: 2px;
        }
        .selected {
          background-color: #ccc;
        }
      }
      .left-section, .right-section {
        min-width: 240px;
      }
      .middle-section {
        vertical-align: top;
        margin: 0 25px;
        position: relative;
        top: $height/2;
      }
      .right-section {
        vertical-align: top;
      }
    }
  }

}

